<!DOCTYPE html>
<html>
<head>
	<meta charset="<% settings.charset %>">
	<title>Dancer::Plugin::ValidateTiny Example</title>
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
	<div id="layout">
		<h1>Dancer::Plugin::ValidateTiny Example</h1>
		<% content %>
	</div>
</body>
</html>